body,
td,
select,
div,
form {
    font-size: 12pt;
    color: black;
    line-height: 160%;
    font-family: 굴림, Verdana, Tahoma, sans-serif;
}

input,
textarea {
    border: 1px solid #999999;
    font-size: 12pt;
    color: black;
    font-family: 굴림, Verdana, Tahoma, sans-serif;
    background-color: white;
}

input {
    height: 20px;
}

a:link {
    text-decoration: none;
    color: #696969;
}
a:hover {
    color: #66ccff;
}
a:visited {
    color: #330066;
}
